:root {
    --highlight: #ffcc00; /* Adjust the color code to your preferred shade of yellow */
}

@font-face {
    font-family: Bake Bunny Round, sans-serif;
    src: url("../fonts/BakeBunny-Round.otf");
}

@font-face {
    font-family: Typingrad, serif;
    src: url("../fonts/Typingrad.otf");
}

@font-face {
    font-family: SuisseIntlMono;
    src: url("../fonts/SuisseIntlMono-Regular-WebS.woff2");
    font-weight: normal;
}

@font-face {
    font-family: SuisseIntlMono;
    src: url("../fonts/SuisseIntlMono-Bold-WebS.woff2");
    font-weight: 500;
}

@font-face {
    font-family: Molot;
    src: url("../fonts/Molot.otf");
}


body {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-color: #111111;
    font-size: 1.2em;
    display: grid;
}

.project{
    display: none;
    padding-bottom: 10em;
    gap: 5em;
}

.project#intro{
    display: grid;
    text-align: center;
    margin-bottom: 0;
}

.selector-bar {
    border-top: 2px solid rgba(255,255,255,0.1);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    background-color: #111111;
    opacity: 0;
    z-index: 100;
}

.selector-bar.show{
    opacity: 1;
    transition: 1s opacity, 1s bottom;
}

.selector-bar.show-footer{
    bottom: 0px !important;
}

.selector-bar #show-footer-btn{
    position: absolute;
    height: 1.5em;
    right: 0;
    margin: 2em;
    opacity: 0.4;
    rotate: 180deg;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
}

.selector-bar #show-footer-btn:hover{
    opacity: 0.8;
}

.selector-bar.show-footer #show-footer-btn{
    rotate: 0deg;
}

.circle-holder{
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 1.5em;
}

.circle-holder::before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 2.5em;
    right: 2.5em;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.2);
    height: 2px;
}

.circle {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: rgb(85, 85, 85);
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    scale: 0.7;
    flex-shrink: 0;
    border: 4px solid #111111;
}

.circle:hover {
    scale: 1;
}

.circle.active {
    scale: 1.4;
    background-color: rgb(193, 193, 193);
    margin: 0 3em;
}

.circle.active:first-child {
    margin-left: 0; /* No left margin for the first circle when active */
}

.circle.active:last-child {
    margin-right: 0; /* No right margin for the last circle when active */
}

main {
    transition: opacity 1s ease-in-out;
    min-height: 100vh;
    opacity: 1;
    display: grid;
}

main.transition{
    opacity: 0;
}

.selector-bar footer{
    margin-top: 5px;
}

/* Projects unique style */
#intro{
    background-color: #111111;
    display: grid;
}

#intro .box{
    max-width: 500px;
    margin: auto;
    display: grid;
    gap: 1em;
}

#intro.loading h3{
    opacity: 0;
}

#intro h3{
    transition: 0.5s;
    opacity: 1;
}

.project{
    /* background-color: #dbdbdb; */
    font-size: 0.9em;
}

.project h1,
.project h2, 
.project h3,
.project h4{
    margin: 0;
}

.project .content{
    display: grid;
    padding: 2em;
    margin: auto;
    max-width: 1000px;
    gap: 6em;
    width: calc(100% - 4em);
}

.project .content .lineimg{
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1.2fr;
    grid-template-areas: "text img";
    align-items: flex-start;
}

.project .content .lineimg.rev{
    grid-template-columns: 1.2fr 1fr;
    grid-template-areas: "img text";
}

.project .lineimg .text {
    grid-area: text;
    display: grid;
    gap: 1.5em;
    margin-top: 10em;
}


.project .lineimg .img{
    grid-area: img;
    display: grid;
    gap: 1em;
}
.project .lineimg img{
    width: 100%;
}

.project .lineimg .img img{
    display: block;
    transform: translateX(1.5em);
}

.project .lineimg.rev .img img{
    transform: translateX(-1.5em);
}

.project h1{
    font-size: 5em;
}

.project h3{
    font-size: 1.5em;
}

.project h4{
    font-size: 1.2em;
    font-weight: 300;
}

.project .full-img{
    overflow: hidden;
    max-width: 900px;
    margin-right: auto;
    transform: translateX(-1.5em);
}

.project .full-img img{
    display: block;
    width: 100%;
    height: 100%;
    /* Contain image */
}

.project .content .headline{
    max-width: 600px;
    font-size: 1.2em;
    display: grid;
    gap: 1em;
}

.project .content .narrow-text{
    max-width: 600px;
    font-size: 1.2em;
    display: grid;
    gap: 1em;
}

/* Specific to projetcs */
#project1 .content{
    display: grid;
}

#project1 h1{
    font-family: 'Bake Bunny Round', sans-serif;
    font-size: 3.6em;
}

#project1::before{
    /* background-color: rgba(115, 115, 115, 0.1); */
    background-image: url("../img/p1/texture.webp");
    opacity: 0.1;
    background-size: 50em;
    background-repeat: repeat;
    content: "";
    position: fixed;
    rotate: 3deg;
    scale: 1.1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 70%;
    z-index: -1;
    border-left: 2px solid rgba(255,255,255,0.5);
}

#project1 .header{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 1em;
}

#project1 .header div{
    display: grid;
    gap: 0em;
    max-width: 400px;
    padding: 1em;
    margin: auto;
    margin-right: 0;
}

#project1 .header img{
    width: 100%;
    display: block;
    max-width: 1000px;
    margin-right: 0;
    margin-left: auto;
}

#project1 h3{
    font-size: 3.4em;
    text-transform: uppercase;
    color: rgb(67, 198, 255);
    /* text-shadow: 0.1em 0.1em 0 #111111; */
}

#project1 h4{
    font-size: 1.4em;
    font-family: "Gloria Hallelujah", cursive;
    line-height: 1.4;
    border-left: 2px solid white;
    padding-left: 0.5em;
}

#project1 .header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 2em;
    padding: 2em;
    margin: auto;
    height: 600px;
    background-position: center 0px;
    background-size: cover;
    background-attachment: fixed;
    align-content: flex-end;
    width: calc(100% - 4em);
}

#project1 .header h1{
    margin-left: auto;
    margin-right: 0;
}

/* Project 2 */
#project2 .header{
    display: grid;
    font-size: 1.2em;
    height: 500px;
    position: relative;
    align-content: flex-end;
    margin-bottom: 4em;
}

#project2 .header .text{
    padding: 2em;
    max-width: 1000px;
    width: calc(100% - 4em);
    margin: auto;
    transform: translateY(8em);
}

#project2 .header h1{
    font-family: Outfit, sans-serif;
    margin-left: -0.3em;
}

#project2 .header h2{
    max-width: 600px;
}

#project2 .header .img{
    position: absolute;
    display: grid;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 40%;
    bottom: 0;
    z-index: -1;

    background-image: url("../img/p2/basket_clean.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    clip-path: polygon(2em 0, 100% 0, 100% 100%, 0 100%);
}

#project2 .interaction{
    display: grid;
    gap: 2em;
    margin: auto;
}

#project2 .prompt-area{
    display: flex; 
    gap: 2em;
    align-items: flex-end;
}

#project2 .ranger{
    display: grid; 
    gap: 1em;
    max-width: 300px;
    font-size: 0.9em;
    font-weight: 100;
    color: #dcdcdc;
    text-transform: uppercase;
}

#project2 .ranger b{
    font-weight: 500;
}

#project2 .ranger-hint{
    display: flex; 
    align-items: flex-end;
    gap: 0.5em;
}

#project2 .ranger-hint img {
    height: 1.8em;
    margin: 0.5em;
    display: inline-block;
}

#project2 .ranger-hint img.notice{
    animation: shake 2s ease-in-out infinite;
}

@keyframes shake {
    0%, 60% {
        transform: rotate(0deg);
    }
    10%, 30%, 50%{
        transform: rotate(10deg);
    }
    20%, 40%{
        transform: rotate(-10deg);
    }
}

#project2 #prompt{
    font-family: 'DM Serif Display', serif;
    font-size: 1.6em;
    line-height: 1.2;
    text-align: end;
    flex: 1;
}

#project2 #prompt .weight{
    font-family: 'Antonio', sans-serif;
    font-size: 1.4em;
    font-weight: 100;
    margin-left: 0.2em;
    color: #ffcc00;
}

#project2 #prompt .prompt-part{
    transition: opacity 0.5s ease;
}

#project2 #image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    border-radius: 0.5em;
    overflow: hidden;
    margin: 1em -1.5em;
}

#project2 #image-grid .image {
    /* Styles for images */
    opacity: 0.2;
    position: relative;
}

#project2 #image-grid .image img{
    width: 100%;
    aspect-ratio: 5/3;
    object-fit: cover;
    display: block;
}

#project2 #image-grid .image div{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.2em 0.5em;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: 300;
}

#project2 #image-grid .image .img-title{
    backdrop-filter: blur(8px) saturate(0.4);
}

#project2 #image-grid .image .img-title b {
    font-weight: 600;
}

#project2 #image-grid .image .img-title b::after {
    content: "/";
    font-weight: 200;
}

#project2 .end{
    display: grid;
    gap: 2em;
}

#project2 h3{
    font-size: 1.2em;
}

/* General Slider Styles */
#slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    height: 5px;
    background: #ababab;
    outline: none;
    border-radius: 5px;
    flex: 1;
}

/* Slider handle styles for Webkit browsers */
#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid #111111;
}

/* Slider handle styles for Mozilla browsers */
#slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid #111111;
}

/* Project 3 */
#project3{
    background-color: black;
}

#project3 h1{
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 7.4em;
    margin: 0 0 1.25em 0.2em;
    position: relative;
}

#project3 .cavebox{
    position: relative;
    display: grid;
    gap: 1em;
    width: 100%;
    max-width: 800px;
    aspect-ratio: 1/1;

    margin-left: -3em;

    /* margin: auto; */
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.5em;

    background-image: url("../img/p3/cave.webp");
    background-size: 120%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;

    align-content: flex-end;
    pointer-events: none;

    margin-bottom: -5em;
}

#project3 .cavebox .cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    scale: 1.01;
}

#project3 h2.larger{
    margin-left: 3em;
    font-size: 1.8em;
    max-width: 700px;
    /* margin-top: -3em; */
    z-index: 1;
}

#project3 h3{
    font-size: 1.4em;
    text-transform: uppercase;
    max-width: 280px;
    display: flex;
    gap: 1em;
    margin-left: -2em;
}

#project3 h3::before{
    content: "";
    display: block;
    width: 0.2em;
    background-color: white;
    border-radius: 0.4em;
}

#project3 .table-flex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6em;
    align-items: flex-start;
    z-index: 2;
}

#project3 .table-flex .table{
    display: grid;
    gap: 4em 2em;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    max-width: 460px;
    opacity: 0.5;
    user-select: none;
}

#project3 .table-flex .table .title{
    font-weight: 600;
    font-size: 0.8em;
    text-transform: uppercase;
    display: block;
}

#project3 .table-flex .table .cont{
    font-size: 1.4em;
    font-family: 'DM Serif Display', serif;
    display: block;
}


#project3 .table-flex .text{
    font-size: 1.2em;
    display: grid;
    gap: 1em;
    margin-top: 4em;
}

#project3 .large-img{
    margin-top: -500px;
    width: 62%;
    max-width: 1400px;
}

#project3 .yo-mister-white{
    position: relative;
    background-color: white;
    margin-top: -100px;
    color: black;
    font-size: 1.2em;
    padding-top: 6em;
    gap: 2em;
    display: grid;
}

#project3 .yo-mister-white h2{
    font-size: 1.4em;
    margin: 0;
}

#project3 .drone-shot{
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    align-items: center;
    padding-bottom: 10em;
    overflow: hidden;
}

#project3 .drone-shot .text{
    max-width: 350px;
    display: grid;
    margin: auto;
    gap: 2em;
    /* z-index: 1; */
}

#project3 .drone-shot img{
    width: 100%;
    scale: 1.6;
    transform: translateX(-1em);
    animation: levitate-rotate 8s ease-in-out infinite;
}

@keyframes levitate-rotate {
    0%, 100% {
        rotat: 0deg;
    }
    50%{
        rotate: 1deg;
    }
    
}

#project3{
    padding-bottom: 0em;
}

#project3 .yo-mister-white::before{
    content: "";
    background-image:url(../img/p3/bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 45%;
    right: 0;
    bottom: 0;

    clip-path: polygon(2em 0, 100% 0, 100% 100%, 0 100%);
}

/* Project 4 */
#project4{
    background-color: white;
    color: rgb(54, 54, 54);
}

#project4 .header{
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    gap: 2em;
    margin: auto;
    max-width: 1000px;
    align-items: flex-end;
    margin-top: 2em;
    padding-bottom: 2.5em;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 8em));
}

#project4 .header img{
    width: 100%;
    display: block;
    filter: drop-shadow(3em 0 0 rgb(67, 198, 255));
}

#project4 .header h1{
    font-family: Urbanist, sans-serif;
    font-weight: 100;
    padding-bottom: 1em;
    color: rgb(48, 178, 233);
}

#project4 .flex-inline{
    display: flex;
    gap: 4em;
    align-items: flex-end;
    justify-content: center;
}

#project4 .flex-inline img{
    height: 220px;
    flex-shrink: 0;
    border-radius: 100%;
}

#project4 .hero{
    font-size: 1.3em;
    display: grid;
    gap: 1em;
    max-width: 650px;
}

#project4 .hero h2,
#project4 .narrow-text h2{
    color: rgb(48, 178, 233);
    margin-left: -1em;
    font-size: 2em;
}

#project4 .gridimg{
    display: grid;
    font-size: 1.1em;
    grid-template-columns: 1.2fr 1fr;
    gap: 2em;
    align-items: flex-start;
}

#project4 .gridimg.rev{
    grid-template-columns: 1fr 1.3fr;
    align-items: flex-end;
    max-width: 1000px;
    margin: auto;

    margin-top: -5em;
}

#project4 .gridimg .text{
    display: grid;
    gap: 4em;
    max-width: 420px;
    margin: 0 auto;
    padding: 2em;
}

#project4 .gridimg .text>div{
    display: grid;
    gap: 1em;
}


#project4 .gridimg .img.bged{
    background-image: url(../img/p4/demi_bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2em 0 0 2em;
}

#project4 .gridimg .img.bged img{
    width: 80%;
    margin-right: auto;
    display: block;
    transform: scale(1.2) translateX(-2em);
}

#project4 .gridimg .img img{
    width: 100%;
    display: block;
}

#project4 .patent-show{
    gap: 0em !important;
    position: relative;
    font-size: 0.7em;
    padding: 1em;
    margin-left: -3em;
}

#project4 .patent-show .title{
    font-size: 2.2em;
    color:rgb(48, 178, 233);
    font-family: 'DM Serif Display', serif;
}

/* Line */
#project4 .patent-show::before{
    position: absolute;
    content: "";
    width: 10em;
    height: 2px;
    background-color: rgb(48, 178, 233);
    bottom: 2.5em;
    left: -10em;
    border-radius: 2em;
}

/* Dot */
#project4 .patent-show::after{
    position: absolute;
    content: "";
    width: 1em;
    height: 1em;
    background-color: rgb(48, 178, 233);
    border-radius: 50%;
    bottom: calc(2em + 1px);
    left: -11em;
}

#project4 .smaller{
    font-size: 0.8em;
    font-weight: 300;
}

#project4 .smaller h3{
    font-size: 1.2em;
    text-transform: uppercase;
}

#project4 .linetext{
    display: grid;
    margin: 1em;
    gap: 2em;
    grid-template-columns: 2.1fr 1fr;
    align-items: flex-start;
}

#project4 .linetext .img{
    display: grid;
    gap: 2em;
    margin-top: 8em;
}

#project4 .linetext img{
    display: grid;
    width: 100%;
}

#project4 .linetext .narrow-text{
    gap: 2em;
}

#project4 .linetext .narrow-text>div{
    max-width: 440px;
}

#project4 .linetext .narrow-text img{
    transform: translateX(-1em);
}

/* Project 5 */
#project5{
    font-family: SuisseIntlMono;
    background-color: white;
    color: black;
}

#project5 .header{
    background-image: url(../img/p5/city_bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    display: grid;
    min-height: 85vh;
    align-items: flex-end;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 3em));
}

#project5 .header .text{
    margin: auto;
    width: 100%;
    max-width: 800px;
    padding: 2em;
    padding-top: 4em;

    display: grid;
    gap: 1em;
}

#project5 h2{
    font-family: Molot;
    font-size: 3.8em;
}

#project5 h3{
    font-family: Molot;
}

#project5 h2::before,
#project5 h2::after{
    content: none;
}

#project5 .header h1{
    font-family: Typingrad;
    color: #FFCB00;
    border: 4px solid #FFCB00;
    padding: 4px 15px;
    min-width: 4em;
    margin-right: auto;
    filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.2));
}

#project5 .header h1.main{
    font-size: 6em;
    margin-bottom: 0.75em;
}

#project5 .hero{
    display: grid;
    gap: 2em;
    width: 80%;
    margin-left: auto;
}

#project5 .hero .text{
    columns: 2;
    line-height: 1.8em;
    column-gap: 4em;
    font-size: 0.9em;
    max-width: 700px;
}

#project5 .hero h2{
    position: relative;
    color: black;
    padding: 0.3em 0;
    z-index: 1;
    margin-left: -0.5em;
}

#project5 .hero .line{
    position: absolute;
    top: 0;
    left: 0.2em;
    right: 0;
    bottom: 0;
    background-color: #FFCB00;
    z-index: -1;
    transform: translateY(0.1em);
    clip-path: polygon(0.1em 0, 100% 0, 100% 100%, 0 100%);
}

#project5 .mini-project{
    display: grid;
    gap: 2em;
    max-width: calc(1200px - 4em);
    margin: auto;
    z-index: 1;
    padding: 2em;

    /* Take full width */
    width: calc(100% - 4em);
}

#project5 .mini-project .text{
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 1fr;
    line-height: 1.8em;
    max-width: 800px;
    /* Align left */
    margin-right: auto;
}

#project5 .mini-project.rev .text{
    /* Align right */
    margin-left: auto;
    margin-right: 0;
}

#project5 .mini-project h2{
    font-size: 5.5em;
    max-width: 450px;
    line-height: 0.7em;
    letter-spacing: -0.01em;
    text-align: right;
}


#project5 .mini-project h2 .nb{
    font-size: 0.8em;
    margin-left: -0.5em;
    color: #EEB205;
}


#project5 .mini-project small{
    font-size: 0.7em;
}

#project5 .mini-project .text>div{
    max-width: 400px;
    display: grid;
    gap: 1em;
    margin-top: 4em;
    padding: 0.5em 1em;
}

#project5 .mini-project.rev .text>div{
    background-color: white;
}

#project5 .mini-project .img{
    position: relative;
    max-width: 750px;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-top: -7em;
    z-index: -1;
    rotate: 2deg;
}

#project5 .mini-project .img img{
    display: block;
    width: 100%;
    transform: translateX(-2em);
}

#project5 .mini-project.rev .img{
    /* Align right */
    margin-right: auto;
    margin-left: 0;
    rotate: -3deg;
}

#project5 .mini-project.up .img{
    margin-top: -21em;
    rotate: 3deg;
}

#project5 .mini-project .img .tape{
    position: absolute;
    top: 0;
    right: 0;
    width: 220px;
    height: 50px;
    background-color: #FFCB00;
    rotate: 40deg;
    /* mix-blend-mode: hard-light */
}

#project5 .mini-project .img .tape2{
    position: absolute;
    top: 0;
    left: 0;
    width: 260px;
    height: 50px;
    background-color: #FFCB00;
    rotate: -40deg;
    transform: translate(-4em, -1em);
    /* mix-blend-mode: hard-light */
}

/* Project 6 */
#project6{
    background-color: white;
    color: black;
    padding-bottom: 0;
}

#project6 .header{
    position: relative;
    margin: auto;   
    display: grid;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    padding: 8em 0;
}

#project6 .header h1{
    font-family: Outfit;
    font-size: 4.5em;
    font-weight: 500;
    max-width: 540px;
    padding: 0.5em;

    display: flex;
    gap: 0.5em;
}

#project6 .header h1 b{
    font-weight: 800;
}

#project6 .header h1::before{
    content: "";
    width: 0.3em;
    background-color: rgba(0,0,0,0.1);
}

#project6 .imgline{
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 1.1fr;
    align-items: flex-start;
}

#project6 .imgline .img{
    margin-top: 4em;
    max-height: 600px;
    overflow: hidden;
}

#project6 .imgline img{
    width: 100%;
    object-fit: contain;
    display: block;    
}

#project6 .imgline .text{
    max-width: 400px;
    display: grid;
    gap: 2em;
    font-size: 1.2em;
    margin: 0 auto;
    padding: 1em;
}

#project6 .imgline .text h2{
    font-size: 1.8em;
}

#project6 h3{
    font-size: 1.4em;
    text-transform: uppercase;
}

#concepts-visu{
    display: grid;
    gap: 3em;
    width: 100%;
    grid-template-columns: 1.2fr 1fr;
    align-items: flex-start;
}

#concepts-visu .images{
    display: grid;
    gap: 1em;
    opacity: 1;
    transition: 0.5s opacity ease-out, 0.5s transform ease-out;
    transform: translateX(-1em);
    margin-top: -4em;
}

#concepts-visu .images.transition{
    opacity: 0;
    transform: translateX(-2em);
}

#concepts-visu .images img{
    width: 100%;
    display: block;
    max-height: 580px;
    object-fit: cover;
}

#concepts-visu .info{
    display: grid;
    gap: 2em;
}

#concepts-visu .info .parent{
    display: grid;
    gap: 1em;
    align-items: flex-start;
    padding: 1em;
}

#concepts-visu .info .parent.fade-out{
    transition: 0.5s opacity ease-out;
    opacity: 0;
    pointer-events: none;
}

#concepts-visu .info .parent .concept{
    position: relative;
    display: grid;
    font-size: 0.6em;
    gap: 0.5em;
    padding: 1em;
    border: 2px solid black;
    box-shadow: 5px 5px 0 black;
    cursor: pointer;
    transition: 0.2s;
    background-color: white;
    animation: glide-fade-in 0.8s ease-out;
}

@keyframes glide-fade-in {
    0%{
        opacity: 0;
        transform: translateX(3em);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
    
}

#concepts-visu .info .parent .concept::before{
    position: absolute;
    content: "";
    background-color: black;
    height: 2px;
    width: 100%;
    top: 1em;
    left: -6em;
    width: 6em;
}

#concepts-visu .info .parent .concept::after{
    position: absolute;
    content: "";
    background-color: black;
    height: 1em;
    width: 1em;
    border-radius: 1em;
    top: calc(0.5em + 1px);
    left: -7em;
}

#concepts-visu .info .parent .concept:hover{
    box-shadow: 8px 8px 0 black;
}

#concepts-visu .info .parent h3::before{
    content: '+';
    margin-right: 0.2em;
}

#concepts-visu .info .parent .concept-imgs{
    display: flex;
    gap: 0.5em;
    overflow-y: scroll;
}

#concepts-visu .info .parent .concept-imgs img{
    aspect-ratio: 1/1;
    max-height: 100px;
    object-fit: cover;
}

#concepts-visu .text{
    display: grid;
    gap: 1em;
    font-size: 1.1em;

    transition: 0.5s opacity ease-out;
    opacity: 1;
}

#concepts-visu .text #desc{
    padding-left: 1em;
}

#concepts-visu .text.fade-out{
    opacity: 0;
}

#concepts-visu .nav{
    font-weight: 600;
    display: flex;
    gap: 1em;
}

#concepts-visu .nav>span{
    cursor: pointer;
    transition: 0.2s;
}

#concepts-visu .nav>span:hover{
    opacity: 0.5;
    transition: 0s;
}

#concepts-visu .nav #range{
    display: flex;
    align-items: center;
    gap: 0.5em;
}


#concepts-visu .nav #range {
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 5px;
}

#concepts-visu .nav #range .dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1.5px solid black;
    background: transparent;
    cursor: pointer;
    transition: background 0.2s;
    opacity: 0.5;
}

#concepts-visu .nav #range .dot.active {
    background: black;
    pointer-events: none;
    opacity: 1;
}

#concepts-visu .nav #range .dot:hover {
    opacity: 1;
}

#project6 .finalimg{
    display: grid;
    gap: 1em;
    margin: auto;
    width: 100%;
    align-items: flex-start;
}

#project6 .finalimg h1{
    font-family: Outfit;
    font-size: 4em;
    font-weight: 500;
    max-width: 1200px;
    margin: auto;
    padding: 0.5em;
    width: calc(100% - 1em);

    display: flex;
    gap: 0.5em;

    align-items: center;
}

#project6 .finalimg h1 small{
    font-size: 0.3em;
    font-weight: 300;
    text-transform: uppercase;
    max-width: 260px;
    line-height: normal;
}

#project6 .finalimg .img{
    position: relative;
    display: block;
    padding-bottom: 4em;
    background-color: #111111;
    overflow: hidden;
    cursor: pointer;
}

#project6 .finalimg img{
    display: block;
    width: 100%;
}

#project6 .finalimg img.field{
    position: absolute;;
    top: 0;
    left: 0;
    width: 100%;
    transition: 1s;
    opacity: 0;
}

#project6 .finalimg .img:hover img.field{
    opacity: 1;
}